## Data Exploration and Preprocessing:
1: Import Libraries and Set Up the Environment

In [92]:
# Import necessary libraries
import pandas as pd
import os

# Print the current working directory to ensure we are in the correct folder
print("Current working directory:", os.getcwd())

Current working directory: c:\myproject

## 2: Load the Datasets

In [93]:
# Load datasets from specified file paths
# Load the datasets
train_df = pd.read_csv(r'C:\myproject\env\train.csv\train.csv')
transactions_df = pd.read_csv(r'C:\myproject\env\transactions.csv\transactions.csv')
test_df = pd.read_csv(r'C:\myproject\env\test.csv')  
us_retail_sales_df = pd.read_csv(r'C:\myproject\env\us-retail-sales.csv')


# Preview the first few rows of each dataset to understand their structure
print("\nTrain Dataset:")
print(train_df.head(10))

print("\nTransactions Dataset:")
print(transactions_df.head(10))

print("\nTest Dataset:")
print(test_df.head(10))

print("\nUS Retail Sales Dataset:")
print(us_retail_sales_df.head(10))

Train Dataset:
   id        date  store_nbr        family  sales  onpromotion
0   0  2013-01-01          1    AUTOMOTIVE    0.0            0
1   1  2013-01-01          1     BABY CARE    0.0            0
2   2  2013-01-01          1        BEAUTY    0.0            0
3   3  2013-01-01          1     BEVERAGES    0.0            0
4   4  2013-01-01          1         BOOKS    0.0            0
5   5  2013-01-01          1  BREAD/BAKERY    0.0            0
6   6  2013-01-01          1   CELEBRATION    0.0            0
7   7  2013-01-01          1      CLEANING    0.0            0
8   8  2013-01-01          1         DAIRY    0.0            0
9   9  2013-01-01          1          DELI    0.0            0

Transactions Dataset:
         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922
5  2013-01-02          5          1903
6  2013-01-02          6          2143
7  2013-01-02          7          1874
8  2013-01-02          8          3250
9  2013-01-02          9          2940

Test Dataset:
        id        date  store_nbr        family  onpromotion
0  3000888  2017-08-16          1    AUTOMOTIVE            0
1  3000889  2017-08-16          1     BABY CARE            0
2  3000890  2017-08-16          1        BEAUTY            2
3  3000891  2017-08-16          1     BEVERAGES           20
4  3000892  2017-08-16          1         BOOKS            0
5  3000893  2017-08-16          1  BREAD/BAKERY           12
6  3000894  2017-08-16          1   CELEBRATION            0
7  3000895  2017-08-16          1      CLEANING           25
8  3000896  2017-08-16          1         DAIRY           45
9  3000897  2017-08-16          1          DELI           18

US Retail Sales Dataset:
     Month  Clothing  Appliances  FoodAndBeverage  Automobiles  \
0  1992-01      6938        3657            29589        26788
1  1992-02      7524        3490            28570        28203
2  1992-03      8475        3669            29682        31684
3  1992-04      9401        3527            30228        32547
4  1992-05      9558        3571            31677        32883
5  1992-06      9182        3788            30769        34667
6  1992-07      9103        3930            32402        34077
7  1992-08     10513        3817            31469        31809
8  1992-09      9573        3795            30162        32337
9  1992-10     10254        4014            31407        32947

   GeneralMerchandise  BuildingMaterials
0               14996               8964
1               16015               9023
2               17984              10608
3               18872              11630
4               20037              12327
5               18812              12219
6               18575              11658
7               20518              11219
8               18700              11309
9               20970              11605

## 3: Check for Missing Values in the Datasets

In [94]:
# Check for missing values in each dataset to identify any potential issues
print("\nMissing values in Train dataset:")
print(train_df.isnull().sum())

print("\nMissing values in Transactions dataset:")
print(transactions_df.isnull().sum())

print("\nMissing values in Test dataset:")
print(test_df.isnull().sum())

print("\nMissing values in US Retail Sales dataset:")
print(us_retail_sales_df.isnull().sum())

Missing values in Train dataset:
id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

Missing values in Transactions dataset:
date            0
store_nbr       0
transactions    0
dtype: int64

Missing values in Test dataset:
id             0
date           0
store_nbr      0
family         0
onpromotion    0
dtype: int64

Missing values in US Retail Sales dataset:
Month                 0
Clothing              0
Appliances            0
FoodAndBeverage       0
Automobiles           0
GeneralMerchandise    0
BuildingMaterials     0
dtype: int64

## 4: Convert Date Columns to Datetime Format
Since date columns are often in string format, converting them to datetime ensures proper handling of time-based operations.

In [95]:
# Convert 'date' columns to datetime format in the relevant datasets
train_df['date'] = pd.to_datetime(train_df['date'])
transactions_df['date'] = pd.to_datetime(transactions_df['date'])
test_df['date'] = pd.to_datetime(test_df['date'])

In [96]:
# Check unique combinations of store_nbr and date in both datasets
train_combination = train_df[['date', 'store_nbr']].drop_duplicates()
transactions_combination = transactions_df[['date', 'store_nbr']].drop_duplicates()

# Print the number of unique combinations in each dataset
print("Unique combinations in Train Dataset:", train_combination.shape)
print("Unique combinations in Transactions Dataset:", transactions_combination.shape)

# Find combinations that are in train_df but not in transactions_df
missing_combinations = train_combination[~train_combination.apply(tuple, 1).isin(transactions_combination.apply(tuple, 1))]
print(f"Combinations in train_df but not in transactions_df: {missing_combinations.shape[0]} rows")
print(missing_combinations.head())

Unique combinations in Train Dataset: (90936, 2)
Unique combinations in Transactions Dataset: (83488, 2)
Combinations in train_df but not in transactions_df: 7448 rows
          date  store_nbr
0   2013-01-01          1
33  2013-01-01         10
66  2013-01-01         11
99  2013-01-01         12
132 2013-01-01         13

In [97]:
# Check the date range in both datasets
train_date_range = train_df['date'].min(), train_df['date'].max()
transactions_date_range = transactions_df['date'].min(), transactions_df['date'].max()

print(f"Train Dataset Date Range: {train_date_range}")
print(f"Transactions Dataset Date Range: {transactions_date_range}")

Train Dataset Date Range: (Timestamp('2013-01-01 00:00:00'), Timestamp('2017-08-15 00:00:00'))
Transactions Dataset Date Range: (Timestamp('2013-01-01 00:00:00'), Timestamp('2017-08-15 00:00:00'))

## 5: Merge Datasets
We will now merge the datasets to combine relevant information from the different sources.

In [98]:
# Merge 'train_df' with 'transactions_df' on the 'date' and 'store_nbr' columns
merged_df = pd.merge(train_df, transactions_df, on=['date', 'store_nbr'], how='left')

# Convert 'Month' column in 'us_retail_sales_df' to datetime format for merging
us_retail_sales_df['Month'] = pd.to_datetime(us_retail_sales_df['Month'], format='%Y-%m')

# Merge the 'us_retail_sales_df' with 'merged_df' based on the 'date' column
merged_df = pd.merge(merged_df, us_retail_sales_df, left_on='date', right_on='Month', how='left')

# Drop the redundant 'Month' column after merging
merged_df.drop(columns=['Month'], inplace=True)

# Preview the resulting merged dataset to ensure everything is correct
print("\nMerged Dataset Preview:")
print(merged_df.head())

Merged Dataset Preview:
   id       date  store_nbr      family  sales  onpromotion  transactions  \
0   0 2013-01-01          1  AUTOMOTIVE    0.0            0           NaN
1   1 2013-01-01          1   BABY CARE    0.0            0           NaN
2   2 2013-01-01          1      BEAUTY    0.0            0           NaN
3   3 2013-01-01          1   BEVERAGES    0.0            0           NaN
4   4 2013-01-01          1       BOOKS    0.0            0           NaN

   Clothing  Appliances  FoodAndBeverage  Automobiles  GeneralMerchandise  \
0   15165.0      8168.0          51652.0      62999.0             46639.0
1   15165.0      8168.0          51652.0      62999.0             46639.0
2   15165.0      8168.0          51652.0      62999.0             46639.0
3   15165.0      8168.0          51652.0      62999.0             46639.0
4   15165.0      8168.0          51652.0      62999.0             46639.0

   BuildingMaterials
0            19284.0
1            19284.0
2            19284.0
3            19284.0
4            19284.0

## 6: Handle Missing Values in the 'transactions' Column
To ensure that we handle missing data in the merged dataset, especially for the transactions column, we'll apply forward and backward filling methods.

In [99]:
# Perform an inner join if you want only matching rows
merged_df_inner = pd.merge(train_df, transactions_df, on=["date", "store_nbr"], how="inner")

# Perform a left join if you want to keep all rows from train_df and add missing transactions as NaN
merged_df_left = pd.merge(train_df, transactions_df, on=["date", "store_nbr"], how="left")

In [103]:
merged_df_left['transactions'] = merged_df_left['transactions'].fillna(merged_df_left['transactions'].median())

In [101]:
merged_df.isnull().sum()

id                          0
date                        0
store_nbr                   0
family                      0
sales                       0
onpromotion                 0
transactions           245784
Clothing              2901096
Appliances            2901096
FoodAndBeverage       2901096
Automobiles           2901096
GeneralMerchandise    2901096
BuildingMaterials     2901096
dtype: int64

In [104]:
merged_df_left['transactions'] = merged_df_left['transactions'].fillna(merged_df_left['transactions'].median())

In [105]:
print(merged_df_left.isnull().sum())

id              0
date            0
store_nbr       0
family          0
sales           0
onpromotion     0
transactions    0
dtype: int64

## 7: Final Dataset Preview
Once the merging and missing value handling are done, let's preview the final cleaned dataset.

In [106]:
# Final preview of the cleaned and merged dataset
print("\nCleaned and Merged Dataset Preview:")
print(merged_df.head(10))

Cleaned and Merged Dataset Preview:
   id       date  store_nbr        family  sales  onpromotion  transactions  \
0   0 2013-01-01          1    AUTOMOTIVE    0.0            0           NaN
1   1 2013-01-01          1     BABY CARE    0.0            0           NaN
2   2 2013-01-01          1        BEAUTY    0.0            0           NaN
3   3 2013-01-01          1     BEVERAGES    0.0            0           NaN
4   4 2013-01-01          1         BOOKS    0.0            0           NaN
5   5 2013-01-01          1  BREAD/BAKERY    0.0            0           NaN
6   6 2013-01-01          1   CELEBRATION    0.0            0           NaN
7   7 2013-01-01          1      CLEANING    0.0            0           NaN
8   8 2013-01-01          1         DAIRY    0.0            0           NaN
9   9 2013-01-01          1          DELI    0.0            0           NaN

   Clothing  Appliances  FoodAndBeverage  Automobiles  GeneralMerchandise  \
0   15165.0      8168.0          51652.0      62999.0             46639.0
1   15165.0      8168.0          51652.0      62999.0             46639.0
2   15165.0      8168.0          51652.0      62999.0             46639.0
3   15165.0      8168.0          51652.0      62999.0             46639.0
4   15165.0      8168.0          51652.0      62999.0             46639.0
5   15165.0      8168.0          51652.0      62999.0             46639.0
6   15165.0      8168.0          51652.0      62999.0             46639.0
7   15165.0      8168.0          51652.0      62999.0             46639.0
8   15165.0      8168.0          51652.0      62999.0             46639.0
9   15165.0      8168.0          51652.0      62999.0             46639.0

   BuildingMaterials
0            19284.0
1            19284.0
2            19284.0
3            19284.0
4            19284.0
5            19284.0
6            19284.0
7            19284.0
8            19284.0
9            19284.0

In [111]:
!pip install scikit-learn

Collecting scikit-learn

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached scikit_learn-1.5.2-cp313-cp313-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in .\env\lib\site-packages (from scikit-learn) (2.1.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.14.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.5.2-cp313-cp313-win_amd64.whl (11.0 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.14.1-cp313-cp313-win_amd64.whl (44.5 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0

In [117]:


from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
merged_df_left[['Clothing', 'Appliances', 'FoodAndBeverage', 'Automobiles', 'GeneralMerchandise', 'BuildingMaterials']] = scaler.fit_transform(merged_df_left[['Clothing', 'Appliances', 'FoodAndBeverage', 'Automobiles', 'GeneralMerchandise', 'BuildingMaterials']])
 sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
merged_df_left[['Clothing', 'Appliances', 'FoodAndBeverage', 'Automobiles', 'GeneralMerchandise', 'BuildingMaterials']] = scaler.fit_transform(merged_df_left[['Clothing', 'Appliances', 'FoodAndBeverage', 'Automobiles', 'GeneralMerchandise', 'BuildingMaterials']])

IndentationError: unexpected indent (1480271085.py, line 5)